@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div{
    margin: 0 10px;
}


.mySwiper{
 margin: 80px;
 width: 100%;
}

  /* SwiperSlide styling */
  .mySwiper .swiper-slide {
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(160, 95, 95, 0.1);
    
  }


 

  