@tailwind base;
@tailwind components;
@tailwind utilities;




.mySwiper{
 margin: 80px;
 width: 100%;
}

  .mySwiper .swiper-slide {
    padding: 0px 40px 0px 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(160, 95, 95, 0.1);
    
  }

  @media (max-width: 375px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none !important; 
    }
}












 

  
