@tailwind base;
@tailwind components;
@tailwind utilities;




.mySwiper{
 width: 100%;
 height:700px;
 margin:40px;


}

  .mySwiper .swiper-slide {
    padding:10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(160, 95, 95, 0.1);
    
  }

  @media (max-width: 375px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none !important; 
    }
}

/* / Custom styles for the next arrow / */
.swiper-button-next {
  background-color: #D1D9F8;
  border-radius: 15px;  
  padding:25px;      
  width: 50px;              
  height: 40px;             
  opacity: 0.8; 
  margin-top: 150px;
  margin-right:550px;
               
}

/* / Custom styles for the previous arrow / */
.swiper-button-prev {
  background-color: #D1D9F8;
  border-radius: 15px;  
  padding:25px;      
  width: 50px;              
  height: 40px;             
  font-size: 5px;
  opacity: 0.8;  
  margin-left:650px;
  margin-top:100px;
}
.swiper-button-next:after,.swiper-button-prev:after{
  color: #000000;      
  font-size: 20px;
}



/* / Adding hover effects / */
.swiper-button-next:hover, .swiper-button-prev:hover {
  background-color: #D1D9F8;
  opacity: 1;                
}












 

  
